.planner {
    margin: 5px;
    font-size: 14px;
    height: 83vh;
}

.planer-modal {
    filter: blur(5px);
}

.planner p {
    margin-bottom: 5px;
}

.planner-item {
    padding: 5px;
    border: 2px solid var(--clr-blue);
    border-radius: 10px;
    margin-bottom: 5px;
}

.planner-tasks {
    display: flex;
    justify-content: space-between;
}

.task-info {
    width: 30%;
}

.task-set {
    width: 30%;
}

.task-coment {
    width: 20%;
    font-size: 12px;
}

.task-control {
    width: 20%;
}

.task-bort {
    background-color: var(--clr-blue);
    color: white;
    border: 1px solid var(--clr-green);
    padding: 2px;
    width: 50%;
}

.task-support {
    background-color: var(--clr-blue);
    color: white;
    border: 1px solid var(--clr-green);
    padding: 2px;
    width: 80%;
}

.bort-img {
    width: 12px;
    height: 12px;
    display: block;
    position: absolute;
    top: -3px;
    left: 35px;
}

.bort-img2 {
    width: 12px;
    height: 12px;
    display: block;
    position: absolute;
    top: -3px;
    left: 35px;
    display: none;
}

.cover::after {
    display: inline-block;
    content: "";
    width: 10px;
    height: 10px;
    background-color: red;
}

.cover2::after {
    background-color: dimgray;
}

.cover3::after {
    background-color: grey;
}

.cant::after {
    display: inline-block;
    content: "";
    width: 10px;
    height: 10px;
    background-color: blue;
}

.cant2::after {
    background-color: rgb(185, 181, 181);
}

.cant3::after {
    background-color: black;
}

.task-control {
    text-align: center;
}

.task-status {
    margin-bottom: 20px;
    margin-top: 20px;
}

.task-status img {
    width: 40px;
    height: auto;
}

.task-redact img {
    width: 40px;
    height: auto;
}

.planner-result {
    display: flex;
    margin-top: 10px;
    flex-wrap: wrap;
}

.planner-count {
    width: 70%;
}

.planner-data {
    margin-left: 30px;
    font-size: 8px;
    color: var(--clr-blue);
    margin-top: 2px;
}